# Credenciais apenas para este laboratório local.
MINIO_ROOT_USER=estudo
MINIO_ROOT_PASSWORD=estudo-minio-local
S3_BUCKET=cdc-loja
ORDERS=10000
POSTGRES_PORT=15433
TARGET_POSTGRES_PORT=5434
KAFKA_PORT=9092
CONNECT_PORT=8083
MINIO_PORT=19000
MINIO_CONSOLE_PORT=19001
KAFKA2_PORT=9093
CONSOLE_PORT=8080
